<button (click)="createNewQuiz()">Create Questionaire</button>
<div *ngIf="this.questionnaire !== undefined">
<div *ngIf="this.questionnaires.length>=1">
<input class="header" placeholder="Questionnaire Title" [(ngModel)]="this.questionnaire.name">
<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let question of this.questionnaire.questions">
        <mat-expansion-panel-header>
            {{question.text}}
        </mat-expansion-panel-header>
        <mat-action-list *ngFor="let answer of question.responses">
            <input matInput type="text" placeholder="Question" [(ngModel)]="question.text">
            <mat-action-row>
                <mat-form-field>
                    <input matInput [(ngModel)]="answer.text" type="text" placeholder="Answer">
                </mat-form-field>
                <mat-form-field class="weight">
                    <input matInput [(ngModel)]="answer.weight" type="text" placeholder="Weight">
                </mat-form-field>
            </mat-action-row>
            <button class="buttons" mat-button (click)="addAnswer(question)">Add Answer</button>
            <button class="buttons" mat-button color="warn" (click)="removeAnswer(question)">Remove Answer</button>
        </mat-action-list>
        <button mat-button color="primary" (click)="onSaveQuestionnaire()">Submit</button>
    </mat-expansion-panel>
</mat-accordion>
    <button mat-button color="primary" (click)="addQuestion()">Add Question</button>
</div>
</div>
<div *ngIf="this.questionnaires === undefined">
    <p>no questionnaires available</p>
</div>
<p *ngFor="let questionnaire of this.questionnaires">{{questionnaire._name}}</p>
<app-login></app-login>
<app-signup></app-signup>
