<h2 mat-dialog-title>{{this.filledQuestionnaire.name}}</h2>
<br/>
<mat-dialog-content>
    <mat-horizontal-stepper>
        <!--Intro-->
        <mat-step>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <mat-grid-list cols="3">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext>Commencer</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--RGPD-->
        <mat-step>
            <p>
                Avant toute chose, acceptez-vous la collecte de données personnelles ainsi que celles concernant votre
                entreprise pour que nous puissons calculer votre Score ?
            </p>
            <div>
                <button mat-stroked-button color="primary"
                        [disabled]="filledQuestionnaire.acceptedRGPD != undefined && filledQuestionnaire.acceptedRGPD"
                        (click)="handleRGPDClicked(true)">Oui
                </button>
            </div>
            <div>
                <button mat-stroked-button color="primary"
                        [disabled]="filledQuestionnaire.acceptedRGPD != undefined && !filledQuestionnaire.acceptedRGPD"
                        (click)="handleRGPDClicked(false)">Non
                </button>
            </div>
            <div *ngIf="filledQuestionnaire.acceptedRGPD != undefined && !filledQuestionnaire.acceptedRGPD">
                <p>Pour continuer, veuillez accepter le collecte de données.</p>
            </div>
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{1/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext [disabled]="!filledQuestionnaire.acceptedRGPD">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Cheers-->
        <mat-step>
            <p>
                Parfait ! Commençons par faire connaissance
            </p>
            <mat-grid-list cols="3">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext>Continuer</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Company Name-->
        <mat-step>
            <H2>Quelle entreprise représentez vous ?</H2>
            <input matInput [(ngModel)]="filledQuestionnaire.company.name" type="text" placeholder="Nom de la company">
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{3/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext
                            [disabled]="filledQuestionnaire.company.name == undefined">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Employee Number-->
        <mat-step>
            <H2>Quel est le nombre de salariés au sein de votre entrprise ?</H2>
            <input matInput [(ngModel)]="filledQuestionnaire.company.employeeNumber" type="number"
                   placeholder="Average">
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{4/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext
                            [disabled]="filledQuestionnaire.company.employeeNumber == undefined">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Continue-->
        <mat-step>
            <p>
                Continuons avec les informations de contact de votre entreprise (3 questions).
            </p>
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{5/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext>
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Contact Name-->
        <mat-step>
            <H2>Quel est le Prénom et Nom de la personne de contact ?</H2>
            <input matInput [(ngModel)]="filledQuestionnaire.contactInfos.name" type="text" placeholder="Nom Prénom">
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{6/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext
                            [disabled]="filledQuestionnaire.contactInfos.name == undefined">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Contact Job-->
        <mat-step>
            <H2>Quel est son poste au sein de la sociéte ?</H2>
            <input matInput [(ngModel)]="filledQuestionnaire.contactInfos.job" type="text" placeholder="Poste">
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{7/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext
                            [disabled]="filledQuestionnaire.contactInfos.job == undefined">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Contact Mail-->
        <mat-step>
            <H2>Quel est son email (pour le contact, ainsi que pour accéder à l'analyse complète des résultats)?</H2>
            <input matInput [(ngModel)]="filledQuestionnaire.contactInfos.mail" type="email" placeholder="mail">
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{8/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext
                            [disabled]="filledQuestionnaire.contactInfos.mail == undefined">
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Start quiz-->
        <mat-step>
            <p>
                Merci ! Passons dans le vif du sujet.
            </p>
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{9/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}"></mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperNext>
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Questionnaire-->
        <mat-step *ngFor="let filledQuestion of this.filledQuestionnaire.questions;let index = index">

            <H2>Question : {{index + 1}}-{{filledQuestion.text}}</H2>
            <div *ngFor="let filledAnswer of filledQuestion.responses">
                <button mat-stroked-button color="primary" [disabled]="filledAnswer.selected"
                        (click)="handleAnswerClicked(filledQuestion,filledAnswer)">{{filledAnswer.text}}</button>
            </div>
            <mat-grid-list cols="3">
                <mat-grid-tile>
                    <button mat-button color="accent" matStepperPrevious>Back</button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-progress-bar mode="determinate"
                                      value="{{(stepNumberBeforeQuizzStart+ index+1)/(filledQuestionnaire.questions.length+stepNumberBeforeQuizzStart)*100}}">
                    </mat-progress-bar>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-button color="accent" [disabled]="!haveOneAnswerSelected(filledQuestion)"
                            matStepperNext>
                        Next
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-step>
        <!--Results-->
        <mat-step>

            <H2>BRAVO ! Vous êtes sur la bonne voie Vous avez deja réflechi à votre impact. Découvrez comment vous
                améliorer !</H2>
            <mat-progress-bar mode="determinate"
                              value="{{calculateQuestionnaireScorePerCent(this.filledQuestionnaire)}}"></mat-progress-bar>
            <h3>Un email détaillant votre score vous à été envoyé.</h3>
            <p>Partager</p>
            <p>Todo</p>
            <div>
                <button mat-button color="accent" matStepperPrevious>Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-dialog-content>


